.fontlogo {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #fff208, 0 0 20px #fff208, 0 0 25px #fff208, 0 0 30px #fff208, 0 0 35px #fff208;
    }

    to {
        text-shadow: 0 0 10px #000, 0 0 15px #00764b, 0 0 20px #00764b, 0 0 25px #00764b, 0 0 30px #00764b, 0 0 35px #00764b, 0 0 40px #00764b;
    }
}