@media (max-width: 1399px) {
    .main-menu__logo a img {
        width:89px;
    }
}

.divtombolkirimtestimoni {
    text-align: center;
    padding-top:100px;
}

.labelform{
    font-size:14px;
    font-weight:bold;
    margin-bottom: 10px;
}

.alert{
    margin-bottom:50px;
}

.news-sidebar__load-more{
    margin-top: 100px;
}

.titlekategori{
    font-weight: bold;
    margin-bottom: 75px;
    text-align: center;
    font-size: 40px;
    color:#00764b;
}

.comment-one{
    margin-top:50px;
}

.successemailsubscribe{
    color: #00764b
}